<div class="body">
  <h1 class="body__fttitle">Crea tu tarjeta de visita</h1>
  <p class="body__fttitle--content">
    Crea mejores contactos profesionales de forma fácil y cómoda
  </p>
  <div class="shorcut_container">
    <div class="shortcut">
      <div class="shortcut__desing">
        <i class="shortcut__desing--icon fa-regular fa-object-ungroup"></i>
        <p class="shortcut__desing--textdesing">Diseña</p>
      </div>
      <div class="shortcut__fullout">
        <i class="shortcut__fullout--icon fa-regular fa-keyboard"></i>
        <p class="shortcut__fullout--textfullout">Rellena</p>
      </div>
      <div class="shortcut__share">
        <i class="shortcut__share--icon fa-solid fa-share-nodes"></i>
        <p class="textshare">Comparte</p>
      </div>
    </div>
  </div>
  <div class="box__button">
    <button class="box__button__start">
      <nav>
        <a class="gosht__link" href="create.html">COMENZAR</a>
      </nav>
    </button>
  </div>
</div>
