<div class="body">
  <h1 class="body__fttitle">Crea tu tarjeta de visita</h1>
  <p class="body__fttitle--content">
    Crea mejores contactos profecionales de forma fácil y cómoda
  </p>
  <div class="shortcut">
    <div class="shortcut__desing">
      <i class="fa-regular fa-object-ungroup" style="color: #e17334"></i>
      <p class="shortcut__desing--textdesing">Diseña</p>
    </div>
    <div class="shortcut__fullout">
      <i class="fa-regular fa-keyboard" style="color: #e17334"></i>
      <p class="shortcut__fullout--textfullout">Rellena</p>
    </div>
    <div class="shortcut__share">
      <i class="fa-solid fa-share-nodes" style="color: #e17334"></i>
      <p class="textshare">Comparte</p>
    </div>
  </div>
  <button class="button__start">
    <nav>
      <a class="gosht__link" href="create.html">COMENZAR</a>
    </nav>
  </button>
</div>
