// Estilos del formulario general
.form {
  background-color: red;
}
hr {
  width: 90%;
  margin: 10px auto;
}
fieldset {
  border: none;
}
.fieldset__desing {
  padding-bottom: 20px;
}
.fieldset__fillout {
  padding-bottom: 20px;
}
.title__section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 18px;
  padding: 0px 20px;

  &--box1 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

    &--icon {
      color: $color-dull-orange;
      width: 21px;
      height: 18px;
    }

    &--legend {
      font-family: $font-main;
      font-size: 18px;
      color: $color-gunmetal;
    }
  }

  &--icon2 {
    width: 18px;
    height: 16px;
    color: $color-gunmetal;
  }
}

.section__div1 {
  display: flex;
  flex-direction: column;
  color: $color-dark-green-blue;
  font-size: 14px;
  padding: 0px 20px;
  // margin: 15px 20px 15px 20px;

  &--label {
    margin-top: 15px;
    margin-bottom: 10px;
  }

  &--input {
    border: solid 1px $color-input-form;
    height: 30px;
  }
}
.section__divImg {
  display: flex;
  align-items: center;
  gap: 15px;

  &--addImg {
    background-color: $color-dull-orange;
    color: $color-bg-white-two;
    width: 140px;
    height: 30px;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &--square {
    border: solid 1px $color-input-form;
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

// Estilos de Lara

// Diseña

.form__design-title {
  color: $color-gunmetal;
  font-family: $font-main;
  font-size: 14px;
  padding-left: 39px;
}

// Comparte
.form__share--title {
  color: $color-gunmetal;
  font-family: $font-main;
  font-size: 18px;
}
.form__share--link {
  font-family: $font-main;
  color: $color-dull-orange;
  font-size: 12px;
}
.form__share--btn {
  background-color: red;
  color: $color-bg-white-two;
  border-radius: 3px;
}



// Estilos de Sara

//Rellena
