// Estilos del formulario general

body {
  background-color: $color-bg-white-two;
}

fieldset {
  border: none;
}
.fieldset__fillout {
  padding-bottom: 20px;
}
.title__section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 18px;
  padding: 0px 20px;

  &--box1 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

    &--icon {
      color: $color-dull-orange;
      width: 21px;
      height: 18px;
    }

    &--legend {
      font-family: $font-main;
      font-size: 18px;
      color: $color-gunmetal;
      font-weight: 600;
    }
  }

  &--icon2 {
    width: 18px;
    height: 16px;
    color: $color-gunmetal;
  }
}

.section__div1 {
  display: flex;
  flex-direction: column;
  color: $color-dark-green-blue;
  font-size: 14px;
  padding: 0px 20px;
  // margin: 15px 20px 15px 20px;

  &--label {
    margin-top: 15px;
    margin-bottom: 10px;
  }

  &--input {
    border: solid 1px $color-input-form;
    height: 30px;
  }
}
.section__divImg {
  display: flex;
  align-items: center;
  gap: 15px;

  &--addImg {
    background-color: $color-dull-orange;
    color: $color-bg-white-two;
    width: 140px;
    height: 30px;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .gosh_btn {
    display: none;
  }


  &--square {
    border: solid 1px $color-input-form;
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}

// Tablet
@media (min-width: 768px) and (max-width: 1280px) {
  .section__form {
    display: flex;
    flex-direction: row-reverse;
    // flex-grow:
    padding: 20px;

    &--box {
      width: 100vw;
    }
  }
}

//Desktop

@media (min-width: 1280px) {
  .section__form {
    display: flex;
    flex-direction: row-reverse;

    padding: 20px;

    &--box {
      width: 100vw;
    }
  }
}

//DISEÑA
//DISEÑA
.collapsible {
    &__fieldset {
        &--design {
            display: flex;
            align-items: center;;
            gap: 18px;
            padding: 22px 0px 22px 20px;
            flex-direction: row;
            justify-content: space-between;
          
        }
        &--icon {
            color: $color-dull-orange;
            font-size: 18px;
            align-self: center;
        }
        &--legend {
            display: flex;
            font-family: $font-main;
            font-size: 18px;
            color: $color-gunmetal;
            font-weight: 600;
        }
        &--arrow-icon1 {
            width: 18px;
            height: 16px;
            color: $color-gunmetal;
            padding-left: 232px;
            display: flex;
    flex-direction: row;
    justify-content: flex-end;
        }
    }
    &__colours {
      flex-direction: column;
        &--title {
            font-family: $font-main;
            font-size: 14px;
            color: $color-gunmetal;
            padding-left: 39px;
            text-transform: uppercase;
        }
        &--position {
            padding-left: 210px;
        }
       
    }
    //&__palette {
    //    display: flex;

      //  &--radio {
        //    align-self: center;
          //  &--box {
            //    width: 30px;
              //  height: 25px;
            //}

        //}
    //}
}
.collapsible__colours__palette {
      display: flex;
      padding-bottom: 20px;
      justify-content: center;
}
.collapsible__colours__palette--radio {
          align-self: center;
}
.collapsible__colours__palette--box {
  width: 30px;
  height: 25px;
          }
.bg-dark-green {
  background-color: #114E4E;
  margin-left: 10px;
}
.bg-dirty-blue {
  background-color: #438792;
}
.bg-hospital-green {
  background-color: #A2DEAF;
}
.bg-dried-blood {
  background-color: #420101;
  margin-left: 10px;
}
.bg-rusty-red {
  background-color: #BD1010;
}
.bg-tomato {
  background-color: #E95626;
}
.bg-slate {
  background-color: #3E5B65;
  margin-left: 10px;
}
.bg-faded-orange {
  background-color: #EAB052;
}
.bg-light-grey-blue {
  background-color: #A0C0CF;
}
//SHARE
.collapsible {
    &__fieldset {
        &--share{
            display: flex;
            align-items: center;;
            gap: 18px;
            padding: 22px 0px 22px 20px;
          
        }
        &--icon {
            color: $color-dull-orange;
            font-size: 18px;
            align-self: center;
        }
        &--legend {
            font-family: $font-main;
            font-size: 18px;
            color: $color-gunmetal;
            font-weight: 600;
        }
        &--arrow-icon2 {
            width: 18px;
            height: 16px;
            color: $color-gunmetal;
            padding-left: 195px;
            display: flex;
    flex-direction: row;
    justify-content: flex-end;
        }
    }
 }
.share-container__button{
display: flex;
justify-content: center;
padding-bottom: 30px;
}
.share-container__button--styles {
    display: flex;
    background-color: $color-dull-orange;
    width: 199px;
    height: 50px;
    padding: 13px 18px 13px 18px;
    border-radius: 12px;
    font-family: $font-main;
    font-size: 18px;
    color: $color-bg-white-two;
    border: none;
    font-weight: 600;
    margin-top: 30px;
}

// .share-container__button--styles--grey {
//    display: flex;
//    background-color: $color-brownish-grey;
//    width: 199px;
//    height: 50px;
//    padding: 13px 18px 13px 18px;
//    border-radius: 12px;
//    font-family: $font-main;
//    font-size: 18px;
//    color: $color-bg-white-two;
//    border: none;
//    font-weight: 600;
//    margin-top: 30px;
// }


.share-container__button--icon-card {
    display: flex;
    justify-content: center;
    color: $color-bg-white-two;
    width: 25px;
    height: 22px;
    align-items: center;
    padding-right: 9px ;
}
.share-container__twitter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hidden {
  display: none;
}

.share-container__twitter__tittle {
    font-family: $font-main;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    color: $color-gunmetal;
    margin-top: 20px;
}
.share-container__twitter--link {
    font-family: $font-main;
    font-size: 12px;
    font-weight: 600;
    text-align: center;
    color: $color-dull-orange;
}
.share-container__twitter--ico-twitter {
  color: $color-bg-white-two;
  width: 18px;
  height: 18px;
}
.share-container__twitter__btn {
    width: 181px;
    height: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
    padding-top: 5px;
    border: 0;
    border-radius: 3px;
    background-color: #00a0f5;
    font-family: $font-main;
    color: $color-bg-white-two;
    text-decoration: none;
  }

  .line {
    border-top: 1px solid #d8d8d8;
    height: 1px;
    width: 365px;
    padding: 0;
    margin: 7px auto 0 auto;
  }
  //mediaquerys
  /*@media (min-width: 768px) and (max-width: 1280px) {
   .collapsible__fieldset--arrow-icon1 {
    padding-left: 325px;
   }
  }
  
  //Desktop
  
  @media (min-width: 1280px) {
    .collapsible__fieldset--arrow-icon1 {
      padding-left: 305px;
     }
  }*/


  .collapsible__colours--hide {
    .collapsible__colours {
      display: none;
    }
    .collapsible__fieldset--arrow-icon1 {
      transform: rotate(180deg);
    }
  }
  .collapsible__colours--show .collapsible__colours {
    display: flex;
  }