@media only screen and (max-width: 480px) {

    .photoPreview {
        width: 320px;
        background: linear-gradient(to bottom, #bfcdd0, #dde9ed);
        display: flex;
        flex-direction: column;
        justify-content: left;
        align-items: center;

        .btn {
            order: 1;
            display: flex;
            justify-content: left;
            align-items: flex-start;
            margin-right: 172px;

            .resetBtn {
                height: 30px;
                width: 75px;
                margin-top: 38px;
                cursor: pointer;
                border: 1px solid;
                border-radius: 50px;
                background-color: transparent;
                border-color: $color-bg-main;
            }
        }
    }
}

@media only screen and (min-width: 481px) and (max-width: 768px) {

    .photoPreview {
        width: 760px;
        background: linear-gradient(to bottom, #bfcdd0, #dde9ed);
        display: flex;
        flex-direction: column;
        justify-content: left;
        align-items: center;

        .btn {
            order: 1;

            .resetBtn {
                height: 30px;
                width: 75px;
                margin-top: 38px;
                right: 30px;
                cursor: pointer;
                border: 1px solid;
                border-radius: 50px;
                background-color: transparent;
                border-color: $color-bg-main;
                margin-right: 183px;
            }
        }
    }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {

    .photoPreview {
        width: 1020px;
        background: linear-gradient(to bottom, #bfcdd0, #dde9ed);
        display: flex;
        flex-direction: column;
        justify-content: left;
        align-items: center;
    }

    .btn {
        order: 1;

        .resetBtn {
            height: 30px;
            width: 75px;
            margin-top: 38px;
            cursor: pointer;
            border: 1px solid;
            border-radius: 50px;
            background-color: transparent;
            border-color: $color-bg-main;
            margin-right: 182px;
        }
    }
}

@media only screen and (min-width: 1025px) {

    .photoPreview {
        width: 100vw;
        background: linear-gradient(to bottom, #bfcdd0, #dde9ed);
        display: flex;
        flex-direction: column;
        justify-content: left;
        align-items: center;
    }

    .btn {
        .resetBtn {
            height: 30px;
            width: 75px;
            margin-top: 38px;
            cursor: pointer;
            border: 1px solid;
            border-radius: 50px;
            background-color: transparent;
            border-color: $color-bg-main;
        }
    }
}

/* Estilos comunes de la preview */
.cardPreview {
    order: 2;
    background-color: $color-bg-main;
    box-shadow: 0 1px 10px 0 black, 0 1px 3px 0 rgba(0, 0, 0.35);
    position: relative;
    height: 425px;
    width: 250px;
    margin-bottom: 40px;
    margin-top: 20px;
    font-family: $font-cardtext;

    .adalaberName {
        margin-top: 20px;
        margin-bottom: 20px;
        padding-left: 20px;
        display: flex;
        flex-direction: column;
        border-left: 5px solid;
        border-color: $color-dirty-blue;
        font-weight: bold;
    }

    .image {
        width: 250px;
        height: 250px;
        background-image: url('../images/test.jpeg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .icons {
        margin: 3rem 0;
        gap: 1rem;
        font-size: 1.25rem;
        margin-top: 20px;
        margin-bottom: 20px;
        text-align: center;

        .contactIcons {
            cursor: pointer;

            .mobile {
                width: 32px;
                height: 32px;
                margin: 0 10px 0 0;
                padding: 7px 10px;
                border-radius: 50%;
                border: solid 3px;
                border-color: $color-input-form;
                color: #114e4e;
            }

            .mailto {
                width: 32px;
                height: 32px;
                margin: 0 10px 0 0;
                padding: 7px 10px;
                border-radius: 50%;
                border: solid 3px;
                border-color: $color-input-form;
                color: #114e4e;
            }

            .linkedin {
                width: 32px;
                height: 32px;
                margin: 0 10px 0 0;
                padding: 7px 10px;
                border-radius: 50%;
                border: solid 3px;
                border-color: $color-input-form;
                color: #114e4e;
            }

            .github {
                width: 32px;
                height: 32px;
                margin: 0 10px 0 0;
                padding: 7px 10px;
                border-radius: 50%;
                border: solid 3px;
                border-color: $color-input-form;
                color: #114e4e;
            }
        }
    }
}


/* Estilos (colores) concreots de la paleta 1 */

.cardPreview.palette1 {
    .adalaberName {
        border-color: $color-dark-green-blue;
    }

    h2 {
        color: $color-dark-green-blue;
    }

    h3 {
        color: $color-gunmetal;
        font-weight: lighter;
    }

    .icons .contactIcons {
        .mobile {
            color: $color-dark-green-blue;
            border-color: $color-dirty-blue;
        }

        .mailto {
            color: $color-dark-green-blue;
            border-color: $color-dirty-blue;
        }

        .github {
            color: $color-dark-green-blue;
            border-color: $color-dirty-blue;
        }

        .linkedin {
            color: $color-dark-green-blue;
            border-color: $color-dirty-blue;
        }
    }
}



/* Estilos (colores) concreots de la paleta 2 */

.cardPreview.palette2 {
    .adalaberName {
        border-color: $color-dried-blood;
    }

    h2 {
        color: $color-dried-blood;
    }

    h3 {
        color: $color-tomato;
        font-weight: lighter;
    }

    .icons .contactIcons {
        .mobile {
            color: $color-dried-blood;
            border-color: $color-rusty-red;
        }

        .mailto {
            color: $color-dried-blood;
            border-color: $color-rusty-red;
        }

        .github {
            color: $color-dried-blood;
            border-color: $color-rusty-red;
        }

        .linkedin {
            color: $color-dried-blood;
            border-color: $color-rusty-red;
        }
    }
}



/* Estilos (colores) concreots de la paleta 3 */

.cardPreview.palette3 {
    .adalaberName {
        border-color: $color-slate;
    }

    h2 {
        color: $color-slate;
    }

    h3 {
        color: $color-light-grey-blue;
        font-weight: lighter;
    }

    .icons .contactIcons {
        .mobile {
            color: $color-slate;
            border-color: $color-faded-orange;
        }

        .mailto {
            color: $color-slate;
            border-color: $color-faded-orange;
        }

        .github {
            color: $color-slate;
            border-color: $color-faded-orange;
        }

        .linkedin {
            color: $color-slate;
            border-color: $color-faded-orange;
        }
    }
}
