    body{
        font-family: $font-cardtext;

        h2 {
            font-weight: bold;
            color: $color-dark-green-blue;
        }  

        h3 {
            font-weight: lighter;
            color: $color-gunmetal;
        }

    }

    .image {
        width: 250px;
        height: 250px;
        background-image: url('../images/test.jpeg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }


    @media only screen and (max-width: 480px) {

        .photoPreview {
            width: 320px;
            background: linear-gradient(to bottom, #bfcdd0, #dde9ed);
            display: flex;
            flex-direction: column;
            justify-content: left;
            align-items: center;

            .btn{
                order: 1;
                display: flex;
                justify-content: left;
                align-items: flex-start;
                margin-right: 172px;

                .resetBtn {
                    height: 30px;
                    width: 75px;
                    margin-top: 38px;
                    cursor: pointer;
                    border: 1px solid;
                    border-radius: 50px;
                    background-color: transparent;
                    border-color: $color-bg-main;
                }
            }
    
        
            .cardPreview {
                order: 2;
                background-color: $color-bg-main;
                box-shadow: 0 1px 10px 0 black, 0 1px 3px 0 rgba(0, 0, 0.35);
                position: relative;
                height: 425px;
                width: 250px;
                margin-bottom: 40px;
                margin-top: 20px;
                
        
        
                .adalaberName {
                    margin-top: 20px;
                    margin-bottom: 20px;
                    padding-left: 20px;
                    display: flex;
                    flex-direction: column;
                    border-left: 5px solid;
                    border-color: $color-dirty-blue;
                }
        
                // .image {
                //     width: 400px;
                //     height: 400px;
                //     background-image: url('../../../../public/images/test.jpeg');
                //     background-size: cover;
                //     background-position: center;
                //     background-repeat: no-repeat;
                // }
        
                .icons {
                    margin: 3rem 0;
                    gap: 1rem;
                    font-size: 1.25rem;
                    margin-top: 20px;
                    margin-bottom: 20px;
                    text-align: center;
                    
                    .contactIcons{
                        cursor: pointer;
        
                        .mobile {
                            width: 32px;
                            height: 32px;
                            margin: 0 10px 0 0;
                            padding: 7px 10px;
                            border-radius: 50%;
                            border: solid 3px;
                            border-color: $color-input-form;
                            color: #114e4e;
                        }
        
                        .mailto {
                            width: 32px;
                            height: 32px;
                            margin: 0 10px 0 0;
                            padding: 7px 10px;
                            border-radius: 50%;
                            border: solid 3px;
                            border-color: $color-input-form;
                            color: #114e4e;
                        }
        
                        .linkedin {
                            width: 32px;
                            height: 32px;
                            margin: 0 10px 0 0;
                            padding: 7px 10px;
                            border-radius: 50%;
                            border: solid 3px;
                            border-color: $color-input-form;
                            color: #114e4e;
                        }
                        .github {
                            width: 32px;
                            height: 32px;
                            margin: 0 10px 0 0;
                            padding: 7px 10px;
                            border-radius: 50%;
                            border: solid 3px;
                            border-color: $color-input-form;
                            color: #114e4e;
                        }
                    }
                }
            }
        }
    

    }

    @media only screen and (min-width: 481px) and (max-width: 768px){

        .photoPreview {
            width: 760px;
            background: linear-gradient(to bottom, #bfcdd0, #dde9ed);
            display: flex;
            flex-direction: column;
            justify-content: left;
            align-items: center;

            .btn{
                order: 1;
                .resetBtn {
                    height: 30px;
                    width: 75px;
                    margin-top: 38px;
                    right: 30px;
                    cursor: pointer;
                    border: 1px solid;
                    border-radius: 50px;
                    background-color: transparent;
                    border-color: $color-bg-main;
                    margin-right: 183px;
                }
            }
    
            .cardPreview {
                background-color: $color-bg-main;
                box-shadow: 0 1px 10px 0 black, 0 1px 3px 0 rgba(0, 0, 0.35);
                position: relative;
                margin-bottom: 40px;
                margin-top: 20px;
                order: 2;

        
        
                .adalaberName {
                    margin-top: 20px;
                    margin-bottom: 20px;
                    padding-left: 20px;
                    display: flex;
                    flex-direction: column;
                    border-left: 5px solid;
                    border-color: $color-dark-green-blue;
                }
        
                image {
                    width: 450px;
                    height: 400px;
                }
        
                .icons {
                    margin: 3rem 0;
                    gap: 1rem;
                    font-size: 1.25rem;
                    margin-top: 20px;
                    margin-bottom: 20px;
                    text-align: center;
                    
                    .contactIcons{
                        cursor: pointer;
        
                        .mobile {
                            width: 32px;
                            height: 32px;
                            margin: 0 10px 0 0;
                            padding: 7px 10px;
                            border-radius: 50%;
                            border: solid 3px;
                            border-color: $color-input-form;
                            color: #114e4e;
                        }
        
                        .mailto {
                            width: 32px;
                            height: 32px;
                            margin: 0 10px 0 0;
                            padding: 7px 10px;
                            border-radius: 50%;
                            border: solid 3px;
                            border-color: $color-input-form;
                            color: #114e4e;
                        }
        
                        .linkedin {
                            width: 32px;
                            height: 32px;
                            margin: 0 10px 0 0;
                            padding: 7px 10px;
                            border-radius: 50%;
                            border: solid 3px;
                            border-color: $color-input-form;
                            color: #114e4e;
                        }
                        .github {
                            width: 32px;
                            height: 32px;
                            margin: 0 10px 0 0;
                            padding: 7px 10px;
                            border-radius: 50%;
                            border: solid 3px;
                            border-color: $color-input-form;
                            color: #114e4e;
                        }
                    }
                }
            }
        }
    }

    @media only screen and (min-width: 769px) and (max-width: 1024px) {

        .photoPreview {
            width: 1020px;
            background: linear-gradient(to bottom, #bfcdd0, #dde9ed);
            display: flex;
            flex-direction: column;
            justify-content: left;
            align-items: center;
        }
    
        .btn{
            order: 1;
            .resetBtn {
                height: 30px;
                width: 75px;
                margin-top: 38px;
                cursor: pointer;
                border: 1px solid;
                border-radius: 50px;
                background-color: transparent;
                border-color: $color-bg-main;
                margin-right: 182px;
            }
        }
    
        .cardPreview {
            background-color: $color-bg-main;
            box-shadow: 0 1px 10px 0 black, 0 1px 3px 0 rgba(0, 0, 0.35);
            position: relative;
            margin-bottom: 40px;
            margin-top: 20px;
            order: 2;
    
    
            .adalaberName {
                margin-top: 20px;
                margin-bottom: 20px;
                padding-left: 20px;
                display: flex;
                flex-direction: column;
                border-left: 5px solid;
                border-color: $color-dark-green-blue;
            }
    
            image {
                width: 400px;
                height: 400px;
            }
    
            .icons {
                margin: 3rem 0;
                gap: 1rem;
                font-size: 1.25rem;
                margin-top: 20px;
                margin-bottom: 20px;
                text-align: center;
                
                .contactIcons{
                    cursor: pointer;
    
                    .mobile {
                        width: 32px;
                        height: 32px;
                        margin: 0 10px 0 0;
                        padding: 7px 10px;
                        border-radius: 50%;
                        border: solid 3px;
                        border-color: $color-input-form;
                        color: #114e4e;
                    }
    
                    .mailto {
                        width: 32px;
                        height: 32px;
                        margin: 0 10px 0 0;
                        padding: 7px 10px;
                        border-radius: 50%;
                        border: solid 3px;
                        border-color: $color-input-form;
                        color: #114e4e;
                    }
    
                    .linkedin {
                        width: 32px;
                        height: 32px;
                        margin: 0 10px 0 0;
                        padding: 7px 10px;
                        border-radius: 50%;
                        border: solid 3px;
                        border-color: $color-input-form;
                        color: #114e4e;
                    }
                    .github {
                        width: 32px;
                        height: 32px;
                        margin: 0 10px 0 0;
                        padding: 7px 10px;
                        border-radius: 50%;
                        border: solid 3px;
                        border-color: $color-input-form;
                        color: #114e4e;
                    }
                }
            }
        }
    }

    @media only screen and (min-width: 1025px) {

        .photoPreview {
            width: 100vw;
            background: linear-gradient(to bottom, #bfcdd0, #dde9ed);
            display: flex;
            flex-direction: column;
            justify-content: left;
            align-items: center;
        }
        .btn{
            .resetBtn {
                height: 30px;
                width: 75px;
                margin-top: 38px;
                cursor: pointer;
                border: 1px solid;
                border-radius: 50px;
                background-color: transparent;
                border-color: $color-bg-main;
            }
        }

        
        .cardPreview {
            background-color: $color-bg-main;
            box-shadow: 0 1px 10px 0 black, 0 1px 3px 0 rgba(0, 0, 0.35);
            position: relative;
            margin-bottom: 40px;
            margin-top: 20px;
            top: 20%;
    
    
            .adalaberName {
                margin-top: 20px;
                margin-bottom: 20px;
                padding-left: 20px;
                display: flex;
                flex-direction: column;
                border-left: 5px solid;
                border-color: $color-dark-green-blue;
            }
    
            image {
                width: 400px;
                height: 400px;
            }
    
            .icons {
                margin: 3rem 0;
                gap: 1rem;
                font-size: 1.25rem;
                margin-top: 20px;
                margin-bottom: 20px;
                text-align: center;
                
                .contactIcons{
                    cursor: pointer;
    
                    .mobile {
                        width: 32px;
                        height: 32px;
                        margin: 0 10px 0 0;
                        padding: 7px 10px;
                        border-radius: 50%;
                        border: solid 3px;
                        border-color: $color-input-form;
                        color: #114e4e;
                    }
    
                    .mailto {
                        width: 32px;
                        height: 32px;
                        margin: 0 10px 0 0;
                        padding: 7px 10px;
                        border-radius: 50%;
                        border: solid 3px;
                        border-color: $color-input-form;
                        color: #114e4e;
                    }
    
                    .linkedin {
                        width: 32px;
                        height: 32px;
                        margin: 0 10px 0 0;
                        padding: 7px 10px;
                        border-radius: 50%;
                        border: solid 3px;
                        border-color: $color-input-form;
                        color: #114e4e;
                    }
                    .github {
                        width: 32px;
                        height: 32px;
                        margin: 0 10px 0 0;
                        padding: 7px 10px;
                        border-radius: 50%;
                        border: solid 3px;
                        border-color: $color-input-form;
                        color: #114e4e;
                    }
                }
            }
        }

    }
// COLORES PALETA 2
.palette2 {
    h2 {
        color: $color-dried-blood;
    }  

    .photoPreview {
        background: linear-gradient(to bottom, #bfcdd0, #dde9ed);
        display: flex;
        flex-direction: column;
        justify-content: left;
        align-items: center;

        .btn{
            order: 1;
            display: flex;
            justify-content: left;
            align-items: flex-start;

            .resetBtn {
                height: 30px;
                width: 75px;
                margin-top: 38px;
                cursor: pointer;
                border: 1px solid;
                border-radius: 50px;
                background-color: transparent;
                border-color: $color-bg-main;
            }
        }

    
        .cardPreview {
            order: 2;
            background-color: $color-bg-main;
            box-shadow: 0 1px 10px 0 black, 0 1px 3px 0 rgba(0, 0, 0.35);
            position: relative;
            height: 425px;
            width: 250px;
            margin-bottom: 40px;
            margin-top: 20px;
            top: 0;
            right: 30px;
            
    
            .adalaberName {
                margin-top: 20px;
                margin-bottom: 20px;
                padding-left: 20px;
                display: flex;
                flex-direction: column;
                border-left: 5px solid;
                border-color: $color-dried-blood;
            }
            .icons {
                margin: 3rem 0;
                gap: 1rem;
                font-size: 1.25rem;
                margin-top: 20px;
                margin-bottom: 20px;
                text-align: center;
                
                .contactIcons{
                    cursor: pointer;

                    .mobile {
                        width: 32px;
                        height: 32px;
                        margin: 0 10px 0 0;
                        padding: 7px 10px;
                        border-radius: 50%;
                        border: solid 3px;
                        color: $color-rusty-red;
                        border-color: $color-tomato;
                    }

                    .mailto {
                        width: 32px;
                        height: 32px;
                        margin: 0 10px 0 0;
                        padding: 7px 10px;
                        border-radius: 50%;
                        border: solid 3px;
                        color: $color-rusty-red;
                        border-color: $color-tomato;
                    }

                    .linkedin {
                        width: 32px;
                        height: 32px;
                        margin: 0 10px 0 0;
                        padding: 7px 10px;
                        border-radius: 50%;
                        border: solid 3px;
                        color: $color-rusty-red;
                        border-color: $color-tomato;
                    }
                    .github {
                        width: 32px;
                        height: 32px;
                        margin: 0 10px 0 0;
                        padding: 7px 10px;
                        border-radius: 50%;
                        border: solid 3px;
                        color: $color-rusty-red;
                        border-color: $color-tomato;
                    }
                }
            }

           }
        }
    }
 

 

//COLORES PALETA 3
.palette3 {

    h2 {
    color: $color-slate;
    }  

    .photoPreview {
    background: linear-gradient(to bottom, #bfcdd0, #dde9ed);
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;

        .btn{
        order: 1;
        display: flex;
        justify-content: left;
        align-items: flex-start;

            .resetBtn {
                height: 30px;
                width: 75px;
                margin-top: 38px;
                cursor: pointer;
                border: 1px solid;
                border-radius: 50px;
                background-color: transparent;
                border-color: $color-bg-main;
                }
        }


        .cardPreview {
            order: 2;
            background-color: $color-bg-main;
            box-shadow: 0 1px 10px 0 black, 0 1px 3px 0 rgba(0, 0, 0.35);
            position: relative;
            height: 425px;
            width: 250px;
            margin-bottom: 40px;
            margin-top: 20px;
            

            .adalaberName {
                margin-top: 20px;
                margin-bottom: 20px;
                padding-left: 20px;
                display: flex;
                flex-direction: column;
                border-left: 5px solid;
                border-color: $color-slate;
            }
            .icons {
                margin: 3rem 0;
                gap: 1rem;
                font-size: 1.25rem;
                margin-top: 20px;
                margin-bottom: 20px;
                text-align: center;
                
                .contactIcons{
                    cursor: pointer;

                    .mobile {
                        width: 32px;
                        height: 32px;
                        margin: 0 10px 0 0;
                        padding: 7px 10px;
                        border-radius: 50%;
                        border: solid 3px;
                        color: $color-faded-orange;
                        border-color: $color-light-grey-blue;
                    }

                    .mailto {
                        width: 32px;
                        height: 32px;
                        margin: 0 10px 0 0;
                        padding: 7px 10px;
                        border-radius: 50%;
                        border: solid 3px;
                        color: $color-faded-orange;
                        border-color: $color-light-grey-blue;
                    }

                    .linkedin {
                        width: 32px;
                        height: 32px;
                        margin: 0 10px 0 0;
                        padding: 7px 10px;
                        border-radius: 50%;
                        border: solid 3px;
                        color: $color-faded-orange;
                        border-color: $color-light-grey-blue;
                    }
                    .github {
                        width: 32px;
                        height: 32px;
                        margin: 0 10px 0 0;
                        padding: 7px 10px;
                        border-radius: 50%;
                        border: solid 3px;
                        color: $color-faded-orange;
                        border-color: $color-light-grey-blue;
                    }
                }
            }

         }
    }
}