.page__footer {
  width: 100vw;
  border-top: solid #d8d8d8;
  display: flex;
  justify-content: center;

  // width: 20rem;
  // height: 6.8rem;

  &__general--text {
    font-family: $font-main;
    font-size: 0.8rem;
    color: $color-brownish-grey;
    text-align: center;
    margin: 1rem 0rem 1rem 0;
  }

  &__general--adalogo {
    width: 6.4rem;
    height: 2.5rem;
    margin: 0rem 6.7rem 1rem 6.7rem;

  }

}

@media all and (min-width: 768px) {

  .page__footer__general {
    display: flex;
    justify-content:space-between;
    align-items: center;
    margin-top: 1rem;
    width: 100vw;
    
    &--text {
      margin-left: 3rem;
    } 
    
    &--adalogo {
      margin: 0rem 2rem 0rem 0rem;
    }

   }
   
  }