.page__header {
  // width: 20rem;
  height: 12rem;
  background-color: $color-bg-white-four;
}

.page__header__boximg {
  display: flex;

  &--img {
    margin: 6rem 2.2rem 1rem 2.2rem;
    width: 15.6rem;
    height: 4rem;
  }
}

// Medidas del header para create
.page__header__create {
  width: 20rem;
  height: 7rem;
  background-color: $color-bg-white-two;
}

.page__header__boximg__create {
display: flex;
justify-content: center; 
margin: 2rem 3.5rem 1.8rem 3.5rem;
width: 12.5rem;
height: 2.5rem;
}


@media all and (min-width: 768px) {
  
  .page__header {
    // width: 48rem;
    height: 29.6rem;
    background-color: $color-bg-white-four;
  }
  
  .page__header__boximg {
    display: flex;
    justify-content:center;
    
    &--img {
      width: 26rem;
      height: 6.5rem;
      margin: 20rem 10.8rem 1.5rem 10.8rem;
    }
  }

  }



  // @media all and (min-width: 1024px)


