.page__header {
  width: 100vw;
  height: 6rem;
  background-color: $color-bg-white-two;
}

.page__header__boximg {
  display: flex;
  background-color: $color-bg-white-four;

  &--img {
    margin: 2rem 3.5rem 1r.5em 3.5rem;
    width: 70%;
    height: 4rem;

  }
}

// Medidas del header para create
.page__header__create {
  width: 100%;
  height: 5rem;
  background-color: $color-bg-white-two;
}

.page__header__boximg__create {
display: flex;
justify-content: center; 
margin: 2rem 3.5rem 1.8rem 3.5rem;
width: 12.5rem;
height: 2.5rem;
}

.page__header__boximg--img__create {
  width: 12rem;
}



@media all and (min-width: 768px) {
  
  .page__header {
    width: 100%;
    height: 10rem;
    background-color: $color-bg-white-four;
  }
  
  .page__header__boximg {
    display: flex;
    justify-content:center;
    background-color: $color-bg-white-four;
    
    &--img {
      width: 100vw;
      height: 14vh;
      margin: 2rem 10.8rem 1.5rem 10.8rem;
    }
  }
 }

 @media all and (min-width: 1024px) {

  .page__header {
    width: 100%;
    height: 10rem;
    background-color: $color-bg-white-four;
  }
 }

 .page__header__boximg--img {
  margin: 3.6rem 0rem 1.5rem 0rem;//esto me esta afectando la version movil no sé por que 
  background-color: $color-bg-white-four;
 }