<<<<<<< HEAD
body {
  padding: 2rem;
  height: 100vh;
  background-image: url('../images/bg-adalab.png');
  background-color: $color-bg;
  font-family: $font-main;
}
=======
body {
  padding: 2rem;
  height: 100vh;
  background-image: url('../images/bg-adalab.png');
  font-family: $font-main;
}
>>>>>>> cc0645f1f2edf368835d777722884ffba9f907ec
