// body {
//   // padding: 2rem;
//   // height: 100vh;
// }

.body {
  background-color: $color-bg-white-four;
  
  &__fttitle {
    font-family: $font-landing;
    color: $color-dull-orange;
    font-size: 1.2rem;
    text-align: center;
    margin: 0rem 0rem 0.5rem 0rem;

    &--content {
    font-family: $font-main;
    color: $color-dark-green-blue;
    font-size: 0.9rem;
    text-align: center;
    margin: 0rem 1.7rem 2rem 1.7rem;
    }

  }

  .shortcut {
    margin: 0rem 1.6rem 0rem 1.6rem;
    border: solid 1.6px $color-dull-orange;
    border-radius: 4px;
    // opacity: 0.21;
    width: 16.75rem;
    height: 4.6rem;
    display: flex;
    justify-content: space-evenly;
    font-family: $font-main;
    color: $color-gunmetal;
    font-size: 0.8rem;
    
    &__desing {

      width: 3.7rem;
      height: 3rem;
      margin: 1.3rem 0rem 0.6rem 0rem;

      &--icon {
        font-size: 1.3rem;
        padding: 0rem 0.8rem 0rem 0.8rem;
        color: $color-dull-orange;
      }

      &--textdesing {
        text-align: center;
        margin-top: 0.1rem;
      }
      }

    &__fullout {
      width: 3.7rem;
      height: 3rem;
      margin: 0.6rem 0rem 0.6rem 0rem;

      &--icon {
        font-size: 1.5rem;
        padding: 0.5rem 1rem 0rem 1rem;
        color: $color-dull-orange;
      }

      &--textfullout{
        text-align: center;
        margin-top: 0.1rem;
      }
    }

    &__share {
      width: 3.7rem;
      height: 3rem;
      margin: 0.6rem 0rem 0.6rem 0rem;

      &--icon {
        font-size: 1.3rem;
        padding: 0.6rem 1rem 0rem 1.2rem;
        color: $color-dull-orange;
      }

      &--textshare {
        text-align: center;
        margin-top: 1.8rem;
      }
    }

  }

  .button__start {
    background-color: $color-dirty-blue;
    width: 8rem;
    height: 2.6rem;
    border-radius: 2rem;
    margin: 2.4rem 6rem 1.8rem 6rem;
    border-style: none;
    font-family: $font-main;
    font-weight: 600; //me parece muy bold
    
    .gosht__link {
      text-decoration: none;
      color: $color-bg-white-two;
    }
    
  }

}

@media all and (min-width: 768px) { 

  .body {

    &__fttitle {
    font-size: 2rem;
    text-align: center;
    margin: 0rem 0rem 0.5rem 0rem;
    
    &--content {
    font-size: 1.4rem;
    text-align: center;
    margin: 0rem 11rem 2rem 11rem;
     }
    }

  .shortcut {
    margin: auto;
    width: 26rem;
    height: 6rem;
    font-size: 1.2rem;

    &__desing--icon {
        font-size: 1.8rem;
      }

    &__fullout--icon{
        font-size: 2rem;
      }

    &__share--icon {
        font-size: 2rem;
      }
  }

  .button__start {
    margin: 12rem 20rem 6rem 20rem;
  }

  }

}


 @media all and (min-width: 1024px) {
  .body {

   .button__start {
    margin: 12rem 28rem 6rem 28rem;
   }

  }

}
