<form action="" class="form">
    <fieldset class="form__desing">
        <legend>DISEÑA</legend>
        <p class="form__design-title">COLORES</p>
        <div class="form__design-palette">
            <input type="radio" name="pallette" value="azul">
            <input type="radio" name="pallette" value="rojo">
            <input type="radio" name="pallette" value="naranja">
        </div>
    </fieldset>

    <fieldset class="form__share">
        <legend>COMPARTE</legend>
        <button class="form__share-createcard">CREAR TARJETA</button>
        <p class="form__share-title">La tarjeta ha sido creada:</p>
        <a href="#" class="form__share-link"></a>
        <button class="form__share-btn">Compartir en twitter</button>
    </fieldset>
</form>