    <fieldset class="form__section">
    <legend class="form__section--legend"> RELLENA</legend>
    <!-- class"form__section--icon"   icono -->
    <!-- icon arrow -->
    <div>
      <label for="name">Nombre completo</label>
      <input type="text" name="name" id="name" placeholder="Ej:Sally Jill" />
      <label for="post">Puesto</label>
      <input
        type="text"
        id="post"
        name="post"
        placeholder="Ej: Front-end unicorn"
      />
      <div>
        <label for="imagen">Añadir imagen</label>
        <div>cuadradito</div>
      </div>
      <label for="email">Email</label>
      <input
        type="email"
        name="name"
        id="email"
        placeholder="Ej:sally-hill@gmail.com"
      />
      <label for="telephone">Teléfono</label>
      <input
        type="number"
        name="telephone"
        id="telephone"
        placeholder="Ej:555-55-55-55"
      />
      <label for="link">Linkedin</label>
      <input
        type="text"
        name="linkedin"
        id="linkedin"
        placeholder="linkedin.com/in/sally.hill"
      />
      <label for="git">Github</label>
      <input type="text" name="github" id="github" placeholder="@sally-hill" />
    </div>
  </fieldset>
</form>
