<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Awesome Profile-Cards</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Merriweather:wght@900&family=Montserrat:wght@400;600&family=Open+Sans:wght@300;600&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="./scss/main.scss" />
    <link rel="icon" href="./images/favicon.png" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Roboto+Serif:opsz,wght@8..144,100&family=Roboto+Slab:wght@500&family=Space+Mono&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <section class="photoPreview">
      <article class="btn">
        <button class="resetBtn">
          <i class="fa-regular fa-trash-can" style="color: #9a9fa7"></i> RESET
        </button>
      </article>
      <article class="cardPreview palette1 palette2 palette3 js__previewcard">
        <div class="adalaberName">
          <h2 class="js_previewName">Nombre Apellido</h2>
          <h3 class="js_previewJob">Front-end developer</h3>
        </div>
        <div class="image js__profile-preview">
          <!-- <img src="https://placedog.net/300/200" alt="developer's photo" /> -->
        </div>
        <div class="icons">
          <span class="contactIcons">
            <a class="mobile js_mobile" href="tel:+34622731205"
              ><i class="fa-solid fa-mobile-screen-button"></i
            ></a>
            <a class="mailto js_mailto" href="mailto:correo@ejemplo.com"
              ><i class="fa-regular fa-envelope"></i
            ></a>
            <a
              class="linkedin js_linkedin"
              href="https://www.linkedin.com/school/adalab/"
              ><i class="fa-brands fa-linkedin-in"></i
            ></a>
            <a class="github js_github" href="https://github.com/Adalab"
              ><i class="fa-brands fa-github-alt"></i
            ></a>
          </span>
        </div>
      </article>
    </section>
  </body>
</html>
