<fieldset class="collapsible__fieldset">
  <div class="js-collapsible--btn collapsible__fieldset--share">
    <i class="fa-solid fa-share-nodes collapsible__fieldset--icon"></i>
    <legend class="collapsible__fieldset--legend">COMPARTE</legend>
    <i class="fa-solid fa-chevron-up collapsible__fieldset--arrow-icon2"></i>
  </div>
  <div class="collapsible__colours collapsible__colours--hide">
    <div class="share-container__button collapsible__content js__createButton">
      <button
        class="share-container__button--styles share-container__button--styles--grey"
        id="share-btn"
      >
        <i
          class="share-container__button--icon-card fa-regular fa-address-card"
        ></i
        >CREAR TARJETA
      </button>
    </div>
    <div class="line"></div>
    <div
      class="share-container__twitter collapsible__content-twitter js_createCard hidden"
      id="share-div"
    >
      <div class="share__create-card">
        <p class="share-container__twitter__tittle">
          La tarjeta ha sido creada:
        </p>
      </div>
      <a
        href="https://awesome-profile-card.com?id=A456DF0001"
        target="_blank"
        class="share-container__twitter--link share-container__twitter__btn"
      >
        <i class="share-container__twitter--ico-twitter fab fa-twitter"></i
        >Compartir en twitter</a
      >
    </div>
  </div>
  <div class="line"></div>
</fieldset>
