<fieldset class="collapsible__fieldset">
  <div class="js-collapsible--btn collapsible__fieldset--share">
    <div class="title__section--box1">
      <i class="fa-solid fa-share-nodes collapsible__fieldset--icon"></i>
      <legend class="collapsible__fieldset--legend">COMPARTE</legend>
    </div>
    <span><i class="fa-solid fa-chevron-up collapsible__fieldset--arrow-icon2"></i></span>
  </div>
  <div class="collapsible__colours collapsible__colours--hide">
    <div class="share-container__button collapsible__content js__createButton">
      <button class="share-container__button--styles share-container__button--styles--grey js__btnColor js_btnCreateCard" id="share-btn">
        <i class="share-container__button--icon-card fa-regular fa-address-card"></i>CREAR TARJETA
      </button>
     
    </div>
    <div class="line"></div>
    <div class="share-container__twitter collapsible__content-twitter js_createCard hidden" id="share-div">
      <div class="share__create-card">
        <p class="share-container__twitter__tittle">
          La tarjeta ha sido creada:
        </p>
      </div>
      <section class="js_shareLinkContainer hidden">
        <a href="#" target="_blank"
          class="js_shareLink share-container__twitter--link">https://awesome-profile-card.com?id=A456DF0001</a>
        <a class="share-container__twitter--ico-twitter" href="https://twitter.com/intent/tweet" data-size="large"
          target="_blank"><i class="fa-brands fa-x-twitter"></i>Compartir en X</a>
      </section>
     
    </div>
    <section class="share-container__twitter collapsible__content-twitter js_shareErrorContainer hidden" ></section>
  </div>
  <div class="line"></div>
</fieldset>